@import url("var.css");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  z-index: 10;
  width: 80%;
  transition: top 0.3s;
  height: var(--tamaño-header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo-primario);
}

.header__body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header--down {
  position: fixed;
  top: 0;
  z-index: -10;
}

.main {
  position: relative;
  z-index: 5;
  width: 80%;
  top: var(--tamaño-header-height);
}

.main .main-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 8%;
  position: relative;
  z-index: 5;
}

/*Section Hero*/
.main .main-container .hero .container-hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  background-color: var(--color-fondo-segundario);
}

.main .main-container .hero .container-hero .hero-head {
  width: 40%;
  margin: 0vw 0vw 0vw 5vw;
}

.main .main-container .hero .container-hero .hero-head img {
  width: 100%;
  height: 100%;
}

.main .main-container .hero .container-hero .hero-body {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 8%;
}

.main .main-container .hero .container-hero .hero-body .hero-body-infohead {
  width: 100%;
}

.main .main-container .hero .container-hero .hero-body .hero-body-infohead ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main
  .main-container
  .hero
  .container-hero
  .hero-body
  .hero-body-infohead
  ul
  #hero-body-infohead-separador {
  background-color: var(--color-fondo-terciario);
  width: 80%;
  height: 1px;
}

.main .main-container .hero .container-hero .hero-body .hero-body-infobody {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: inherit;
}

.main .main-container .hero .container-hero-footer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-fondo-terciario);
  height: 5vw;
}

.main .main-container .hero .container-hero-footer ul li img {
  width: 3vw;
  height: 3vw;
  margin: 0vw 0vw 0vw 0vw;
}

/*Section Information*/
.main .main-container .information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--separacion-section);
  opacity: 0.8;
  color: white;
  border-radius: 5vw;
  background-color: #2c3e50;
  height: 20vw;
  padding: 5%;
}

/*Section tecnologías*/
.main .main-container .tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--separacion-section);
}

.main .main-container .tecnologias ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: var(--separacion-section);
  width: 80%;
}

.main .main-container .tecnologias ul li img {
  width: 8vw;
  height: 8vw;
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out;
  animation: flotar 5s infinite ease-in-out;
}

.main .main-container .tecnologias ul li img:hover {
  filter: grayscale(0%);
}

@keyframes flotar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  }
}

/*Section conocimientos*/
.main .main-container .conocimientos {
  /*Provisional*/
  background-color: var(--color-fondo-segundario);
  /*Provisional*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--separacion-section);
}

.main .main-container .conocimientos h1 {
  margin: 5%;
}

.main .main-container .conocimientos .conocimientos-body {
  width: 80%;
  padding-bottom: 10%;
}

.main .main-container .conocimientos .conocimientos-body ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.main .main-container .conocimientos .conocimientos-body ul li {
  width: 28%;
  margin: 2%;
}

.main
  .main-container
  .conocimientos
  .conocimientos-body
  ul
  li
  .conocimientos-body-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.main
  .main-container
  .conocimientos
  .conocimientos-body
  ul
  li
  .conocimientos-body-box
  h1 {
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}

/*Section experiencia*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 7vw;
  width: 100%;
  margin-top: var(--separacion-section);
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  background-color: var(--color-fondo-terciario);
}

.timeline ul {
  padding-bottom: 50px;
  margin-top: 5vw;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  background: var(--color-fondo-terciario);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-fondo-terciario);
  z-index: 1;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.timeline ul li#primer-li::after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
  background-color: var(--color-fondo-terciario);
}

.timeline ul li:nth-child(odd) div .primerdiv-timeline {
  margin-top: 10px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--color-fondo-terciario) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
  background-color: var(--color-fondo-terciario);
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--color-fondo-terciario);
}

time {
  display: block;
  font-size: var(--color-fondo-segundario);
  font-weight: bold;
  margin-bottom: 8px;
}

/*Proyectos creados*/
.proyectos {
  background-color: var(--color-fondo-segundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: var(--separacion-section);
}

.proyectos .proyectos-container {
  width: 95%;
}

.proyectos .proyectos-container h1 {
  margin: 5%;
}

.proyectos .proyectos-container ul {
  margin-bottom: 3vw;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.proyectos .proyectos-container .proyectos-container-info {
  margin: 10%;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  padding: 5%;
}

.proyectos .proyectos-container .proyectos-container-info h2{
  margin-bottom: 0.5vw;
}

.proyectos .proyectos-container .proyectos-container-info .img-carru-menor-900 {
  display: none;
}

.proyectos .proyectos-container .proyectos-container-info .carrusel-proyectos {
  margin: 0 auto;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  > * {
  flex: 0 0 0;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos:hover
  .group {
  animation-play-state: paused;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  .group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
  }
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  .group {
  margin-top: 1.5vw;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  .group
  .div
  img {
  width: 100%;
  height: 100%;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  .group
  .card-biblioteca-front {
  width: 20vw;
  height: 10vw;
  margin: 0 0 0 2vw;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  .group
  .icons {
  width: 7vw;
  height: 7vw;
  margin: 0 0 0 5vw;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  .group
  .card-menu-lago {
  width: 14vw;
  margin: 0 0 0 2vw;
}

.proyectos
  .proyectos-container
  .proyectos-container-info
  .carrusel-proyectos
  .group
  .card-valsa-front {
  width: 20vw;
  height: 10vw;
  margin: 0 0 0 2vw;
}

footer{
  background-color: var(--color-fondo-primario);
  position: relative;
  top: 8vw;
  width: 100%;
  z-index: 10;
  text-align: center;
  align-items: center;
}

footer p{
  margin: 3%;
}